# # save options
# out: ./out/train_traffic_out

# # data options
# data_dir: ./data/nuscenes
# data_version: trainval
# data_noise_std: 0.01
# batch_size: 4


# past_len: 20
# future_len: 60
# dt : 0.1

# # past_len: 10
# # future_len: 30
# # dt : 0.25

# # past_len: 4
# # future_len: 12
# # dt : 0.5

# # seq_interval: 10 # 5 seconds between sequences.


# # optim and loss
# epochs: 1000
# lr: 1e-5
# loss_kl: 0.004
# kl_anneal_end: 20
# loss_recon: 1.0
# loss_veh_coll_prior: 0.05
# loss_env_coll_prior: 1.0

# #new weights
# loss_accel: 0.1
# loss_yaw: 0.3
# loss_dist: 0.3



# save options
out: ./out/train_traffic_out

# data options
data_dir: ./data/nuscenes
data_version: trainval
data_noise_std: 0.01
batch_size: 4

# seq_interval: 10

# past_len: 20
# future_len: 60
# dt : 0.1

# past_len: 10
# future_len: 30
# dt : 0.25

past_len: 4
future_len: 12
dt : 0.5


# optim and loss
epochs: 2000
lr: 1e-5
loss_kl: 0.04
kl_anneal_end: 200
loss_recon: 1.0
loss_veh_coll_prior: 0.05
loss_env_coll_prior: 1.0

#new weights
loss_accel: 0.1
loss_yaw: 0.3
loss_dist: 0.3

